@model IEnumerable<Permissions.Models.Weapon>
@using Microsoft.AspNetCore.Authorization
@using Permissions.Constants;
@using Permissions.Utils;
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Damage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Damage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                <div class="btn-group dropdown">
                    <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Actions
                    </button>
                    <ul class="dropdown-menu shadow animated--grow-in">
                        @if (AuthorizationService.AuthorizeAsync(User, PolicyNameGenerator.Generate(Modules.Weapons, Operations.Read)).Result.Succeeded)
                        {
                            <li>
                                <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </li>
                        }
                        @if (AuthorizationService.AuthorizeAsync(User, PolicyNameGenerator.Generate(Modules.Weapons, Operations.Edit)).Result.Succeeded)
                        {
                            <li>
                                <a class="dropdown-item" asp-action="EditPerks" asp-route-id="@item.Id">Manage perks</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            </li>
                        }
                        @if (AuthorizationService.AuthorizeAsync(User, PolicyNameGenerator.Generate(Modules.Weapons, Operations.Delete)).Result.Succeeded)
                        {
                            <li>
                                <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </li>
                        }
                    </ul>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
